{% extends 'index.html' %}

{% block title %}Edit Data Petugas{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-warning text-white">
            <h5 class="mb-0">Edit Data Petugas</h5>
        </div>
        <div class="card-body">
            <a href="{{ url_for('petugas.petugas_tampil') }}" class="btn btn-secondary mb-3">Kembali</a>
            <form method="post">
                <div class="row mb-3">
                    <label for="nip" class="col-sm-2 col-form-label">NIP</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="nip" id="nip" value="{{ petugas[1] }}" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="nama_petugas" class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="nama_petugas" id="nama_petugas" value="{{ petugas[2] }}" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="username" id="username" value="{{ petugas[3] }}" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="password" value="{{ petugas[4] }}" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="role" class="col-sm-2 col-form-label">Role</label>
                    <div class="col-sm-10">
                        <select id="role" name="role" class="form-select" required>
                            <option value="value="{{ petugas[5] }}">{{ petugas[5] }}</option>
                            <option value="Admin">Admin</option>
                            <option value="Operator">Operator</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
